.layout {
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  background-image: linear-gradient(
    to bottom,
    var(--darkBg) 0%,
    var(--darkBg) 33.33%,
    var(--lightBg) 66.66%,
    var(--lightBg) 100%
  );
  background-size: 100% 300%;
  background-position: 0% 100%;
}

.header {
  position: relative;
  --padding: var(--mantine-spacing-md);
  margin: var(--padding);
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.footer {
  color: #e3dfdb;
  background-color: #847665;
}
