.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  flex: 1;
  background-color: var(--mantine-color-body);
  transition: background-color 300ms ease;
}

.header {
  position: relative;
  --padding: var(--mantine-spacing-md);
  margin: var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
