@use '../../styles/mixins' as *;

.text {
  @include link-styles;

  display: flex;
  align-items: center;
  color: var(--mantine-color-text);
  text-align: center;
  font-size: 0.85rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.38em;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 400ms ease;

  &:hover {
    opacity: 0.75;
  }
}
